<div class="comment-form__heading">
  <%= link_to user_path(current_user), class: 'user-comment__profile-img' do %>
    <%= image_tag current_user.image.url, alt: 'user-img' %>
  <% end %>

  <h3 class="comment-form__title"><%= post_title(type) %></h3>
</div>

<%= form_with model: [article, comment], local: false, remote: true do |f| %>
  <div class="comment-form__body">
    <%= f.text_area :comment_content, class: 'comment-form__text', placeholder: 'コメント入力', required: true %>
  </div>

  <div class="comment-form__footer">
    <div class="comment-form__img">
      <label class="comment-form__img-btn">
        <%= f.file_field :image, id: 'file-upload' %>
        画像を選択
      </label>
      <span id="file-text">選択されていません</span>
    </div>

    <%= f.hidden_field :article_id, value: article.id %>

    <div class="comment-form__submit">
      <%= f.submit submit_btn(type), class: 'link-btn default-btn' %>
    </div>
  </div>
<% end %>