<%= render 'layouts/header/header', q: @q %>


<div class="article-page article-post">
  <div class="article-post__inner l-inner">
    <div class="article-post__thumbnail">
      <% if @article.image? %>
        <%= image_tag @article.image.url, alt: 'article-img' %>
      <% else %>
        <%= image_tag 'no_image_square.jpeg', alt: 'article-img' %>
      <% end %>
    </div>

    <div class="article-post__heading">
      <div class="article-post__post-info">
        <%= link_to user_path(@article.user), class: 'article-post__user-icon' do %>

          <%= image_tag @article.user.image.url %>

        <% end %>

        <div class="article-post__user-post-info">
          <%= link_to @article.user.name, user_path(@article.user), class: 'article-post__user-name' %>
          <span class="article-post__post-time">
            <time datetime="2021/10/1"><%= l @article.created_at %></time>
          </span>
        </div>
      </div>

      <h1 class="article-post__title"><%= @article.title %></h1>

      <div class="article-post__favo" id="favo-btn_<%= @article.id %>">
        <%= render partial: 'favorites/favorite', locals: { article: @article } %>
      </div>
    </div>

    <div class="article-post__content">
      <p><%= safe_join(@article.content.split("\n"), tag(:br)) %></p>
    </div>
  </div>
</div>

<div class="article-comment l-inner">
  <div class="article-comment__heading">
    <h2 class="article-comment__heading-title">コメント一覧</h2>
  </div>

  <div class="article-comment__body">
    <%= render 'comments/comments', comments: @comments %>
  </div>

  <div class="article-comment__footer">
    <div class="comment-form">
      <div class="comment-form__heading">
        <%= link_to user_path(current_user), class: 'user-comment__profile-img' do %>
          <%= image_tag current_user.image.url, alt: 'user-img' %>
        <% end %>

        <div class="comment-form__title">投稿する</div>
      </div>

      <%= form_with model: [@article, @comment], local: false, remote: true do |f| %>
        <div class="comment-form__body">
          <%= f.text_area :comment_content, class: 'comment-form__text', placeholder: 'コメント入力' %>
        </div>

        <div class="comment-form__footer">
          <div class="comment-form__img">
            <label class="comment-form__img-btn">
              <%= f.file_field :image, id: 'file-upload' %>
              画像を選択
            </label>
            <span id="file-text">選択されていません</span>
          </div>

          <%= f.hidden_field :article_id, value: @article.id %>

          <div class="comment-form__submit">
            <%= f.submit "投稿", class: 'link-btn default-btn' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
