<%= render 'layouts/header' %>
<div class="page-login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-login start-form">
      <div class="form-area">
        <%= f.label :email, class: 'form-area__label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-area__text' %>
      </div>
      <div class="form-area">
        <%= f.label :password, class: 'form-area__label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-area__text' %>
      </div>
      <div class="actions">
        <%= f.submit "ログイン", class: 'form__submit' %>
      </div>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
